:root{
  --bg-color: #abbef2;
  --darker-bg-color: #7390e8;
  --border-radius: 20px;
  --bg-objects-colors: #7e7e7ebc;
  --color: #fff;
  --font-size: 100px;
}

body{
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(45deg, #c1cdf1 4%, var(--bg-color) 62%, var(--darker-bg-color) 100%);
  min-height: 100vh;
}

p,span,footer{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input{
  position: absolute;
  top: -1000000px;
}

.hidden{
  display: none;
}

.invisible{
  opacity: 0%;
}

.disappear{
  position: absolute;
  font-size: var(--font-size);
  animation-name: disappear;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.completeTime{
  animation-name: completeBar;
  animation-duration: var(--time);
  animation-fill-mode: forwards;
  animation-timing-function: linear;
}

.currentLetter{
  color: rgb(246, 63, 112);
}

#progressBar{
  position: absolute;
  top: 0;
  height: 10px;
  width: 100%;
  background-color: rgb(216, 102, 102);
}

#progressBar div{
  height: 10px;
  background-color: rgb(107, 214, 25);
}

#final p{
  background-color: var(--bg-objects-colors);
  color: var(--color);
  padding: 20px;
  border-radius: var(--border-radius);
}

#currentWord{
  font-size: var(--font-size)
}

#correctLetters span{
  color: aquamarine;
}

#errors span{
  color: rgb(246, 63, 112);
}

button{
  padding: 50px;
  border: unset;
  border-radius: var(--border-radius);
  background-color: var(--bg-objects-colors);
  color: var(--color);
  font-size: var(--font-size);
}

@keyframes completeBar{
  0%{
    width: 0%;
  }
  100%{
    width: 100%;
  }
}

@keyframes disappear{
  0%{
    transform: translateY(0);
  }
  50%{
    color: var(--darker-bg-color);
  }
  100%{
    transform: translateY(-100%);
    opacity: 0%;
    font-size: calc( var(--font-size) / 2);
  }
}